html, body {
	height: 100%;
}

body {
	background-color: #000000;
	margin: 0;
	font-family: Helvetica, sans-serif;;
	overflow: hidden;
}

a {
	color: #ffffff;
}

#menu {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
}

.element {
	width: 105px;
	height: 320px;
	box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
	border: 1px solid rgba(127,255,255,0.25);
	border-radius: 45px;
	text-align: center;
	cursor: default;
	backface-visibility: hidden;
}

.element:hover {
	box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
	border: 1px solid rgba(127,255,255,0.75);
}

	.element .number {
		position: absolute;
		top: 185px;
		left: 0px;
		right: 0px;
		font-size: 12px;
		color: rgba(127,255,255,0.75);
	}

	.element .symbol1 {
		position: absolute;
		top: 20px;
		left: 0px;
		right: 0px;
		font-size: 80px;
		font-weight: bold;
		color: rgb(255,255,255);
		text-shadow: 0 0 30px rgba(0,255,255,0.95);
	}
	
	.element .symbol2 {
		position: absolute;
		top: 210px;
		left: 0px;
		right: 0px;
		font-size: 80px;
		font-weight: bold;
		color: rgb(255,255,255);
		text-shadow: 0 0 30px rgba(0,255,255,0.95);
		transform: scale(-1, -1);
	}

	.element .details {
		position: absolute;
		bottom: 140px;
		left: 0px;
		right: 0px;
		font-size: 20px;
		color: rgba(127,255,255,0.75);
	}

button {
	color: rgba(127,255,255,0.75);
	background: transparent;
	outline: 1px solid rgba(127,255,255,0.75);
	border: 0px;
	padding: 5px 10px;
	cursor: pointer;
}
button:hover {
	background-color: rgba(0,255,255,0.5);
}
button:active {
	color: #000000;
	background-color: rgba(0,255,255,0.75);
}